header.header
  style 
    include header.scss
  figure.logo
  //  img(src="logo.png", alt="logo")
  nav.header__nav
    ul.header__items
      li.nav__element 
        a(href="").nav__link О нас
      li.nav__element 
        a(href="").nav__link Услуги   
      li.nav__element 
        a(href="").nav__link Вакансии
      li.nav__element 
        a(href="").nav__link Новости
      li.nav__element 
        a(href="").nav__link Соглашения
  form.auth
    button.enter Войти
    button.reg Зарегистрироваться