
header.header
  style 
    include header.scss
  figure.logo
  nav.nav
    ul.nav
      li.nav__element 
        a(href="").nav__link Headers & Footers 
      li.nav__element 
        a(href="").nav__link Cards   
      li.nav__element 
        a(href="").nav__link Colors & Type
      li.nav__element 
        a(href="").nav__link Form Elements
  form.auth
    button.enter
    button.reg