style
  include dropdown-block.scss 
mixin dropdown(lab, placehold, options)
  label.dropdawn__label #{lab}
    select(name="dropdawn")
      each item in ["red", "green", "blue"] 
        option=item