style
  include dropdown-block.scss 
mixin dropdown(lab, placehold, options)
  div.dropdown 
    label.dropdown__label #{lab}
      select.dropdown__select(name="dropdawn")
        each item in ["red", "green", "blue"] 
          option=item