
.page-form-elements__content {
  max-width: 1200px;
  height: auto;
  padding-left: 153px;
  padding-top: 37px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
.row {
  height: 515px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.row:nth-child(2) {
  height: 270px;
}

.colums {
  max-height: 515px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.colums:nth-child(2) {
  position: absolute;
  left: 448px;
}
.colums:nth-child(3) {
  position: absolute;
  left: 839px;
}
.page-form-elements__text-block {
  position: relative;
}
.page-form-elements__caption {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
  text-transform: uppercase;
}
.page-form-elements__dates {
  display: flex;
  justify-content: space-between;
}
.content__checkbox {
  width: 222px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.content__checkbox p {
  margin: 0;
  padding: 0;
  
}