include /text-field-block/text-field-block.pug
include /dropdown-block/dropdown-block.pug
include /checkbox/checkbox.pug
include /radio-buttons/radio-buttons.pug
include /toggle/toggle.pug
include /like-button/like-button.pug
include /rate-button/rate-button.pug
include /range-slider/range-slider.pug
include /pagination/pagination.pug
include expandable-checkbox-list/expandable-checkbox-list.pug
style 
  include page-form-elements.scss
header.header-pages-uikit
  figure.logo-uikit
  h2.page-title Form elements
div.page-form-elements__content
  div.row
    div.colums 
      div.page-form-elements__text-block 
        +text-field("TEXT FIELD","Email","default")
        label.page-form-elements__caption default
      div.page-form-elements__text-block
        +text-field("TEXT FIELD","This is pretty awesome","hover")
        label.page-form-elements__caption Hover / Focus
      +dropdown("DROPDAWN", "Сколько гостей", "guests") 
      +text-field("masked TEXT FIELD","ДД.ММ.ГГГГ","default")
      div.page-form-elements__dates 
        +dropdown("date dropdown", "ДД.ММ.ГГГГ", "date-dropdown")
        +dropdown("date dropdown", "19.08.2019", "date-dropdown")
      +dropdown("filter date dropdown", "19 авг - 25 авг", "filter-date")
      +text-field("subscription text field", "Email", "subscr")   
    div.colums
      div.content__checkbox
        p.types__h3 checkbox buttons
        +checkbox("Можно курить", "mode")
        +checkbox("Можно с питомцами", "checked")
        +checkbox("Можно пригласить гостей (до 10 человек)", "checked")
      div.content__radio
        p.types__h3 radio buttons
        div.content__radio-buttons
          +radio-button("Мужчина", "sex", "checked")
          +radio-button("Женщина", "sex", "")
      div.content__toggle  
        p.types__h3 toggle
        +toggle("Получать спецпредложения", "checked")
        +toggle("Получать спецпредложения", "")
      div.content__like-button
        p.types__h3 like button
        div.content__like-buttons-group
          +like-button("2", "")
          +like-button("12", "pressed")
      div.content__rate-button
        p.types__h3 rate button
        div.content__rate-button-group
          +rate-button("4")
          +rate-button("5")
    div.colums  
      div.content__range-slider
        +range-slider("range slider", "5 000", "10 000")
      div.content__buttons
        p.types__h3 buttons
        +button("click me", "", "fill") 
        +button("click me", "hover", "fill") 
        +button("click me", "", "trans") 
        +button("click me", "hover", "trans") 
        +button("click me", "", "link") 
        +button("click me", "hover", "link") 
        +button("перейти к оплате", "", "go-payment")
      div.content__pagination 
        p.types__h3 pagination 
        +pagination(11, 1, "1 – 12 из 100+ вариантов аренды")
  div.row
    div.colums
      div.page-form-elements__text-block      
        +dropdown("dropdown", "2 спальни, 2 кровати...", "facilities")
        label.page-form-elements__caption default
      div.page-form-elements__text-block  
        +dropdown("dropdown", "2 спальни, 2 кровати...", "facilities", "open")
        label.page-form-elements__caption expanded
    div.colums
      +dropdown("DROPDAWN", "Сколько гостей", "guests", "open")
    div.colums
      +dropdown("DROPDAWN", "Сколько гостей", "guests", "open", "threeGuests")
  div.row
    div.colums 
      +expandable-checkbox-list("expandable checkbox list", "")
      +expandable-checkbox-list("expandable checkbox list", "open")
script
  include /dropdown-block/dropdown-block.js 
  include /radio-buttons/radio-buttons.js
  include /like-button/like-button.js
  include /rate-button/rate-button.js
  include /pagination/pagination.js
  include /expandable-checkbox-list/expandable-checkbox-list.js