include /text-field-block/text-field-block.pug
include /dropdown-block/dropdown-block.pug
include /checkbox/checkbox.pug
style 
  include page-form-elements.scss
header.header-pages-uikit
  figure.logo-uikit
  h2.page-title Form elements
div.page-form-elements__content
  div.row
    div.colums 
      +text-field("TEXT FIELD","Email","default")
      +text-field("TEXT FIELD","This is pretty awesome","default")
      +dropdown("DROPDAWN", "Сколько гостей", "guests") 
      +text-field("masked TEXT FIELD","ДД.ММ.ГГГГ","masked")
      +dropdown("filter date dropdown", "19 авг - 25 авг", "filter-date")   
      +text-field("subscription text field", "Email", "subscr")   
    div.colums
      div.content__checkbox
        p checkbox buttons
        +checkbox("Можно курить", "mode")
        +checkbox("Можно с питомцами", "mode")
        +checkbox("Можно пригласить гостей (до 10 человек)", "mode")
    div.colums  
      p range slider 
      p buttons 
  div.row
    div.colums     
      +dropdown("dropdown", "2 спальни, 2 кровати...", "facilities")

script
  include /dropdown-block/dropdown-block.js 