
.page-form-elements__content {
  max-width: 1200px;
  height: 800px;
  padding-left: 153px;
  padding-top: 37px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
.row {
  height: 625px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.colums {
  height: 515px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__checkbox {
  width: 222px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.content__checkbox p {
  margin: 0;
  padding: 0;
  
}