@font-face {
  font-family: generalFont;
  src: url('../fonts/montserrat.ttf') format('truetype'),
       url('../fonts/montserrat.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: generalFont;
  src: url('../fonts/montserrat-bold.ttf') format('truetype'),
       url('../fonts/montserrat-bold.woff') format('woff'),;
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand-Bold.ttf') format('truetype'),
       url('../fonts/Quicksand-Bold.woff') format('woff'),;
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
