$primaryColor: yellow;
$secondaryColor: darkslategray; 

html {
  font-family: generalFont;
}
article {
  box-sizing: border-box;

}
.logo-uikit {
  background: url("../images/logo.svg");
  height: 48px;
  width: 48px;
  margin: 0 0 62px 30px;
  
}

h1 {
  color: $secondaryColor;
}
.headers-footers, .cards {
  background-color: #E5E5E5;
  padding-top: 30px;
}      
.somebutton {
  height: 50px;
  color: red;
}
.logo {
  background: url("../bembloks/header/logo.svg");
  width: 105.69px;
  height: 40px;
  margin: auto;
  margin-left: 140px;
}