$primaryColor: yellow;
$secondaryColor: darkslategray; 

html {
  font-family: generalFont;
  margin: 0;
  padding: 0;
}
article {
  box-sizing: border-box;

}
.logo-uikit {
  background: url("../images/logo.svg");
  height: 48px;
  width: 48px;
  margin: 0 0 62px 30px;
}

.colors-type {
  background-color: white;
  height: 800px;
  padding-left: 149.74px;
  padding-top: 145px;
  padding-bottom: 145px;
  display: flex;
  justify-content: space-between;
}
.headers-footers, .cards {
  background-color: #E5E5E5;
  padding-top: 30px;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}      
.somebutton {
  height: 50px;
  color: red;
}
.logo {
  background: url("../bembloks/header/logo.svg");
  width: 105.69px;
  height: 40px;
  margin: auto;
  margin-left: 140px;
}