$primaryColor: yellow;
$secondaryColor: darkslategray; 

html {
  font-family: generalFont;
}

h1 {
  color: $secondaryColor;
}

.container {
  color: $primaryColor;
  
  height: 200px;
  width: 300px;
  background: url("../images/webpack.png");
} 

.header {
  background-color: aqua;
}

.somebutton {
  height: 50px;
  color: red;
}
