header.header.ui-kit
  p UI-KIT
  nav.nav
    ul.nav__ui-kit
      li.nav__element 
        a(href="").nav__link Headers & Footers 
      li.nav__element 
        a(href="").nav__link Cards   
      li.nav__element 
        a(href="").nav__link Colors & Type
      li.nav__element 
        a(href="").nav__link Form Elements