
.page-title {
  color:rgba(31, 32, 65, 0.25);
}
.page-colors-type__content {
  max-width: 1200px;
  background-color: white;
  height: 800px;
  padding-left: 153px;
  padding-top: 37px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.row {
  margin-bottom: 100px;
}
.colors {
  margin-right: 415px;
  height: 610px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
.types {
  margin-right: 100px;
  margin-top: -2.1px; 
  max-width: 450px;
  max-height: 321px;
  
}
.types__item {
  color: #1F2041;
  display: flex;  
  
}
.types__item:nth-child(1) {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 51px;
}
.types__item:nth-child(2) {
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 51px;
}
.types__item:nth-child(3) {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 50px;
}
.types__item:nth-child(4) {
  font-size: 14px;
  line-height: 24px;
}
.types__title {
  width: 24px;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  margin: 0;
  margin-right: 30px;

}


