.checkbox {
  max-width: 222px;
}
.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox__label {
  display: inline-block;
  position: relative;
  user-select: none;
  max-width: 192px;
  font-family: generalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  padding-left: 30px;
  
}
.checkbox__mark::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(31, 32, 65, 0.25);
  background-color: #fff;
  border-radius: 4px;
  margin-right: 0.5em;
}

.checkbox__input:checked + .checkbox__mark::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 4px;
  left: 7px;
  top: 7px;
  border-left: 2px solid #8BA4F9;
  border-bottom: 2px solid #8BA4F9;
  transform: rotate(-45deg);

}
.checkbox__input:checked + .checkbox__mark::before {
  border: 1.5px solid #BC9CFF;
} 
