include pug/libs/_libs
include pug/_head 

doctype html
html(lang="en")
  body
    article.uikit
      include pug/libs/_header-uikit
      section.colors-type 
        include bembloks/page-colors-type/page-colors-type.pug
      section.elements 
        include bembloks/form-elements/page-form-elements.pug
      section.headers-footers 
        figure.logo-uikit
        include bembloks/header/header.pug
        include bembloks/header/header.pug
        include bembloks/footer/footer.pug
        include bembloks/footer/footer.pug
      section.cards 
      section.form-elements
