include pug/libs/_libs
include pug/libs/_header
include pug/_head 

doctype html
html(lang="en")
  body
    include pug/libs/_button
    .body
      
    h1 НАВИГАЦИЯ
    .container
      p Служба поддержки
