include pug/libs/_libs

doctype html
html(lang="en")
include pug/_head 
  body
    include pug/libs/_header
    .body
      +image("walp")
      +image("webpack")
    h1 НАВИГАЦИЯ
    .container
      p Служба поддержки
