include pug/libs/_libs
include pug/_head 

doctype html
html(lang="en")
  body
    article.uikit
      include pug/libs/_header-uikit
      section.headers-footers 
        figure.logo-uikit
        include bembloks/header/header.pug
      section.cards 
      section.colors-type 
      section.form-elements
