include pug/libs/_libs
include pug/_head 

doctype html
html(lang="en")
  body
    include pug/libs/_header
    .body
    h1 НАВИГАЦИЯ
    .container
      p Служба поддержки
      include pug/libs/_button
