style
  include rate-button.scss 
mixin rate-button(countGrate)
  div.rate-button 
    span.rate-button__icon.material-icons star
    span.rate-button__icon.material-icons star
    span.rate-button__icon.material-icons star
    span.rate-button__icon.material-icons star
    span.rate-button__icon.material-icons star_border
    