.pagination {
  width: 242px;
  display: flex;
  flex-direction: column;
}
.pagination__items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 40px;
  margin-bottom: 10.6px;
}

.pagination__btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: transparent;
  color: rgba(31, 32, 65, 0.5);
}
.pagination__btn span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}
.pagination__btn--picked {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.pagination__btn--picked span {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

.pagination__arrow {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 100%;
  border: none;
}
.pagination__arrow span {
  font-size: 24px;
  line-height: 20px;
  font-weight: normal;
  color: #fff;
}